/* 重置样式 */
body, h1, h2, h3, p, ul, ol {
  margin: 0;
  padding: 0;
}

/* 全局变量 */
:root {
  --primary-color: #F5F5F5;
  --secondary-color: #666666;
  --accent-color: #333333;
  --font-family: 'Arial', sans-serif;
}

/* 全局样式 */
body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: #333;
  line-height: 1.6;
}

/* 链接样式 */
a {
  color: var(--secondary-color);
  text-decoration: none;
}
a:hover {
  color: var(--accent-color);
}